.header {
  text-align: center;
}

.homeButtons {
  box-sizing: border-box;
  height: 10%;
  min-height: 50px;
  margin: 4px;
}

.navBtn {
  height: 10%;
  min-height: 50px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.margin {
  height:75%;
  width:75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
