.cal {
  display:flex;
  flex-direction:row;
  width:100%;
  max-width: 1000px;
  min-width: none;
  justify-content: center;
}

.dayPicker {
  display: flex;
  justify-content: right;
}

.chart {
  text-align: center;
  display: flex;
  justify-content: left;
}

.dayPicker, .chart {
  flex: auto;
}

.chart canvas {
  width: 100%;
  min-width: 620px;
  height: auto;
}

.dataPointsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.dataPoint {
  border: 1px solid #ddd;
  padding: 1px;
}

.NodeInfo {
  max-width: 1000px;
  justify-content: center;
}

.my-selected:not([disabled]) { 
  font-weight: bold; 
  border: 2px solid #e21313;
  border-color: #e21313;
  color: #e21313;
}

.my-selected:hover:not([disabled]) { 
  border-color: #e21313;
  color: #e21313;
}
.my-today { 
  font-weight: bold;
  font-size: 140%; 
  color: #e21313;
  background-color: #e21313;
}
.rdp {
  --rdp-accent-color: #dc1818 !important;
  --rdp-accent-color-dark: #cf5454 !important;
  --rdp-background-color: #de8080 !important;
  --rdp-background-color-dark: #e55555 !important;
}